/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Mandali&display=swap');

// Colors
$light-sage-green: #D1D9CE;
$dark-slate-gray: #2F4F4F;
$cream: #FDFBF7;
$gray: #64605f;
$light-gray: #949799;
$dark-redvibe: #C0392B;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-slate-gray; // navbar foreground elements
$navbar-hl: $dark-redvibe; // highlight color when hovering over navbar links
$body-bg: $light-sage-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $dark-redvibe; // hyperlinks 